*{
    font-family: 'Inter', sans-serif;
}

body {
    /*margin: 0;
    padding: 0;*/
    background-color: #F3F5FC;
  }
  
  header {
    color: white;
    /*text-align: center;*/
    padding: 1em 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  main div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  #textoOriginal{
    /*tamaño del bloque*/
    width: 90%;
    height: 400px;
    /*Estilos*/
    border: none;
    background-color: #F3F5FC;
    padding: 20px;
  }

  /*Fuente del texto a encriptar*/
  #textoOriginal, #textoOriginal::placeholder{
    font-size: 32px;
    color: #0A3871;
  }

  #textoOriginal:hover{
    cursor: pointer;
  }

  #textoOriginal:focus {
    outline: none;
  }

  .container-text-encrypt{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 35vw;
    height: 90vh;
    left: 60%;
    top: 5%;
    background: #fff;
    border-radius: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
  }
  
  .text-result-class {
    /*tamaño del bloque*/
    width: 100%;
    height: 100%;
    /*Fuente del texto encriptado*/
    font-size: 24px;
    color: #495057;
    /*Estilos*/
    border: none;
    border-radius: 32px;
    padding: 20px;
  }

  .text-result-class:hover{
    cursor: pointer;
  }

  .text-result-class:focus {
    outline: none;
  }

  

  
  button {
    margin-top: 10px;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    main div {
      width: 100%;
    }
  }
