/*Configuraciones base de la página*/
* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f3f5fc;
}

/*Estilos del header*/
header {
  color: white;
  padding: 1em 0;
}

/*Estilos del main*/
main {
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* Asegúrate de que los elementos se alineen en una fila en pantallas grandes */
}

main div {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

/*Estilos del input del usuario*/
.text-input {
  /*tamaño del bloque*/
  width: 680px;
  height: 500px;
  /*Estilos*/
  border: none;  
  background-color: #f3f5fc;
  resize: none;
}

/*Fuente del texto a encriptar*/
.text-input,
.text-input::placeholder {
  font-size: 32px;
  color: #0a3871;
}

.text-input:hover {
  cursor: pointer;
}

.text-input:focus {
  outline: none;
}

.exceptions{
  font-size: 12px;
  color: #495057;
  display: flex;
  align-items: center;
}

.exceptions i {
  margin-right: 5px; /* Espaciado entre el icono y el texto, ajusta según sea necesario */
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around; /* Coloca los botones uno al lado del otro */
  width: 100%;
}

/*Boton desencriptar y encriptar*/
button {
  width: 328px;
  height: 67px;
  font-size: 16px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  margin-right: 10px;
}

.encrypt-button{
  color: #FFFFFF;
  background-color: #0a3871;
}

.container-text-encrypt {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 30%;
  height: 70%;
  left: 60%;
  top: 5%;
  background: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.container-text-encrypt img {
  margin-top: 25%;
  margin-inline: auto;
  writing-mode: horizontal-tb;
}

.container-text-encrypt h2 {
  font-size: 24px;
  color: #343A40;
}

.container-text-encrypt p {
  font-size: 16px;
  color: #495057;
}

.formatted-text {
  font-size: 24px;
  text-align: left;
  position: relative;
  padding: 5px;
  color: #495057;
}

/*boton copiar*/
.copy-button {
  display: none; /* Inicialmente oculto */
  margin-top: auto;
  margin-inline: auto;
}

/*Píe de página*/
footer {
  display: inline-block;
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #f3f5fc; 
  padding: 10px 0; 
  clear: both;
}

footer p {
  font-size: 13px;
}

.social-icons {
  margin-top: 5px;
}

.social-icons a {
  color: #495057;
  margin: 0 10px;
  font-size: 20px;
}

.social-icons a:hover {
  color: #0a3871;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    margin-left: 0;
  }

  main div {
    width: 100%;
  }

  .text-input {
    width: 100%;
    height: 200px;
  }

  .container-text-encrypt {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .container-text-encrypt img {
    display: none;
  }
}

@media (max-width: 480px) {
  main {
    flex-direction: column;
    margin-left: 0;
  }

  main div {
    width: 100%;
  }

  .text-input {
    width: 100%;
    height: 200px;
  }

  .container-text-encrypt {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .container-text-encrypt img {
    display: none;
  }
}
